.basket-page .baskets .basket-left {
  z-index: 999;
  position: fixed;
  left: 0;
  width: 40%;
  height: 100%;
  background-color: #1e3932;
}
.basket-page .baskets .basket-left .head-basket {
  display: flex;
  align-items: center;
}
.basket-page .baskets .basket-left .head-basket a {
  margin: 20px;
  color: white;
  font-weight: 700;
  font-size: 16px;
  align-items: center;
  display: flex;
}
.basket-page .baskets .basket-left .head-basket a svg {
  width: 49px;
  height: 49px;
}
.basket-page .baskets .basket-left .head-basket a .ls {
  width: 14px;
  height: 14px;
  margin-right: 10px;
  transform: rotate(90deg);
}
.basket-page .baskets .basket-left .basket-center {
  margin-top: 208px;
  padding: 0 40px;
}
.basket-page .baskets .basket-left .basket-center h1 {
  color: white;
}
.basket-page .baskets .basket-left .basket-center .order {
  border-bottom: 1px solid rgba(255, 255, 255, 0.7019607843);
  width: 100%;
}
.basket-page .baskets .basket-left .basket-center .order a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.basket-page .baskets .basket-left .basket-center .order a p {
  display: flex;
  flex-direction: column;
}
.basket-page .baskets .basket-left .basket-center .order a p span {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7019607843);
}
.basket-page .baskets .basket-left .basket-center .order a p strong {
  padding: 8px 0;
  color: white;
}
.basket-page .baskets .basket-left .basket-center .order a .sl {
  color: white;
  font-size: 12px;
}
@media (max-width: 575px) {
  .basket-page .baskets .basket-left .basket-center {
    margin-top: 0;
  }
  .basket-page .baskets .basket-left .basket-center h1 {
    font-size: 19px;
    padding-bottom: 20px;
  }
}
@media (max-width: 575px) {
  .basket-page .baskets .basket-left {
    padding: 40px 0;
    width: 100%;
    position: static;
  }
  .basket-page .baskets .basket-left .head-basket a:nth-child(1) {
    display: none;
  }
}
.basket-page .baskets .basket-right {
  display: flex;
  justify-content: end;
}
.basket-page .baskets .basket-right .basket-right-content {
  width: 60%;
  padding: 20px;
}
.basket-page .baskets .basket-right .basket-right-content .add-box {
  margin-bottom: 200px;
}
.basket-page .baskets .basket-right .basket-right-content .footer-response {
  display: block;
  width: 100%;
  min-height: 60vh;
}
.basket-page .baskets .basket-right .basket-right-content .footer-response .box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  position: relative;
  transition: all 300ms;
}
.basket-page .baskets .basket-right .basket-right-content .footer-response .box .h3 {
  font-weight: 400;
  font-size: 16px;
}
.basket-page .baskets .basket-right .basket-right-content .footer-response .box .icon {
  transition: all 300ms;
}
.basket-page .baskets .basket-right .basket-right-content .footer-response .box .icon2 {
  transform: rotate(180deg);
  transition: all 300ms;
}
.basket-page .baskets .basket-right .basket-right-content .footer-response .box ul {
  position: absolute;
  left: 0;
  top: 40px;
  display: block;
}
.basket-page .baskets .basket-right .basket-right-content .footer-response .box ul li {
  max-width: 200px;
  padding: 18px 0;
}
.basket-page .baskets .basket-right .basket-right-content .footer-response .box ul li a {
  font-weight: 400;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.58);
}
.basket-page .baskets .basket-right .basket-right-content .footer-response .box ul li a:hover {
  color: black;
}
@media (max-width: 575px) {
  .basket-page .baskets .basket-right .basket-right-content .footer-response {
    display: block;
  }
}
@media (max-width: 575px) {
  .basket-page .baskets .basket-right {
    display: block;
  }
  .basket-page .baskets .basket-right .basket-right-content {
    width: 100%;
  }
}/*# sourceMappingURL=Basket.css.map */