.basket-page {
  .baskets {
    .basket-left {
      z-index: 999;
      position: fixed;
      left: 0;
      width: 40%;
      height: 100%;
      background-color: #1e3932;
      .head-basket {
        display: flex;
        align-items: center;

        a {
          margin: 20px;
          color: white;
          font-weight: 700;
          font-size: 16px;
          align-items: center;
          display: flex;
          svg {
            width: 49px;
            height: 49px;
          }
          .ls {
            width: 14px;
            height: 14px;
            margin-right: 10px;
            transform: rotate(90deg);
          }
        }
      }
      .basket-center {
        margin-top: 208px;
        padding: 0 40px;
        h1 {
          color: white;
        }
        .order {
          border-bottom: 1px solid #ffffffb3;
         width: 100%;
     
          a {
            display: flex;
            justify-content: space-between;
            align-items: center;
            p {
              display: flex;
              flex-direction: column;
              span {
                font-weight: 400;
                color: #ffffffb3;
              }
              strong {
                padding: 8px 0;
                color: white;
              }
            }
            .sl {
              color: white;
              font-size: 12px;
            }
          }
        }
        @media(max-width: 575px){
          margin-top: 0;

          h1{
            font-size: 19px;
            padding-bottom: 20px;
          }
        }
      }
      @media (max-width:575px){
        padding: 40px 0;
        width: 100%;
        position: static;
        .head-basket{
          a{
            &:nth-child(1){
              display: none;
            }
          
          }
          
        }
      }
    }
    .basket-right{
      display: flex;
      justify-content: end;
      .basket-right-content{
        width: 60%;
        padding: 20px;
        .add-box{
          margin-bottom: 200px;
        }
        .footer-response{
          display: block;
          width: 100%;
          min-height: 60vh;
          .box{
            display: flex;
            align-items: center;
           justify-content: space-between;
           padding: 20px 0;
           position: relative;
         transition: all 300ms;
       
      
            .h3{
           font-weight: 400;
           font-size: 16px;
            }
            .icon{
              transition: all 300ms;
            }
            .icon2{
              transform: rotate(180deg);
              transition: all 300ms;
    
            }
            ul{
              position: absolute;
              left: 0;
              top: 40px;
              display: block;
             
              li {
                max-width: 200px;
                padding: 18px 0;
                a {
                  font-weight: 400;
                  font-size: 1rem;
                  color: rgba(0, 0, 0, 0.58);
                  &:hover {
                    color: black;
                  }
                }
              }
            }
    
           
          }
          @media (max-width:575px){
            display: block;
          }
        }
      }
      @media (max-width:575px){
        display: block;
        .basket-right-content{
          width: 100%;
        }
      }
     
    }
  }
}
