.basket-page .baskets .basket-left {
  z-index: 999;
  position: fixed;
  left: 0;
  width: 40%;
  height: 100%;
  background-color: #1e3932;
}
.basket-page .baskets .basket-left .head-basket {
  display: flex;
  align-items: center;
}
.basket-page .baskets .basket-left .head-basket a {
  margin: 20px;
  color: white;
  font-weight: 700;
  font-size: 16px;
  align-items: center;
  display: flex;
}
.basket-page .baskets .basket-left .head-basket a svg {
  width: 49px;
  height: 49px;
}
.basket-page .baskets .basket-left .head-basket a .ls {
  width: 14px;
  height: 14px;
  margin-right: 10px;
  transform: rotate(90deg);
}
.basket-page .baskets .basket-left .basket-center {
  margin-top: 208px;
  padding: 0 40px;
}
.basket-page .baskets .basket-left .basket-center h1 {
  color: white;
}
.basket-page .baskets .basket-left .basket-center .order {
  border-bottom: 1px solid rgba(255, 255, 255, 0.7019607843);
  width: 100%;
}
.basket-page .baskets .basket-left .basket-center .order a {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.basket-page .baskets .basket-left .basket-center .order a p {
  display: flex;
  flex-direction: column;
}
.basket-page .baskets .basket-left .basket-center .order a p span {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7019607843);
}
.basket-page .baskets .basket-left .basket-center .order a p strong {
  padding: 8px 0;
  color: white;
}
.basket-page .baskets .basket-left .basket-center .order a .sl {
  color: white;
  font-size: 12px;
}
@media (max-width: 575px) {
  .basket-page .baskets .basket-left .basket-center {
    margin-top: 0;
  }
  .basket-page .baskets .basket-left .basket-center h1 {
    font-size: 19px;
    padding-bottom: 20px;
  }
}
@media (max-width: 575px) {
  .basket-page .baskets .basket-left {
    padding: 40px 0;
    width: 100%;
    position: static;
  }
  .basket-page .baskets .basket-left .head-basket a:nth-child(1) {
    display: none;
  }
}
.basket-page .baskets .basket-right {
  display: flex;
  justify-content: flex-end;
  max-height: 100vh;
  overflow-y: auto;
}
.basket-page .baskets .basket-right::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.basket-page .baskets .basket-right .basket-right-content {
  width: 60%;
  padding: 20px;
}
.basket-page .baskets .basket-right .basket-right-content .add-card {
  padding: 20px 0;
}
.basket-page .baskets .basket-right .basket-right-content .add-card .coffee-order {
  display: flex;
  padding: 24px;
  background-color: white;
  max-width: 452px;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 16px;
  box-shadow: 0px 0px 0.5px 0px rgba(0, 0, 0, 0.1411764706), 0px 1px 1px 0px rgba(0, 0, 0, 0.2392156863);
}
.basket-page .baskets .basket-right .basket-right-content .add-card .coffee-order .coffee-order-img {
  width: 100px;
}
.basket-page .baskets .basket-right .basket-right-content .add-card .coffee-order img {
  max-width: 100%;
  border-radius: 50%;
}
.basket-page .baskets .basket-right .basket-right-content .add-card .coffee-order .coffee-order-text {
  padding-left: 24px;
}
.basket-page .baskets .basket-right .basket-right-content .add-card .coffee-order .coffee-order-text h1 {
  font-size: 24px;
  line-height: 1.3;
  font-weight: 400;
  color: #00a862;
}
.basket-page .baskets .basket-right .basket-right-content .add-card .coffee-order .coffee-order-text p {
  padding: 16px 0;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
  color: #00a862;
}
.basket-page .baskets .basket-right .basket-right-content .add-card .coffee-order .coffee-order-text span {
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
  color: #00a862;
  padding-top: 4px;
}
.basket-page .baskets .basket-right .basket-right-content .add-card .coffee-order .coffee-order-text .icons {
  cursor: pointer;
  padding-top: 8px;
  display: flex;
  align-items: center;
}
.basket-page .baskets .basket-right .basket-right-content .add-card .coffee-order .coffee-order-text .icons svg {
  font-size: 22px;
}
.basket-page .baskets .basket-right .basket-right-content .add-card .coffee-order .coffee-order-text .icons .icons-right {
  margin-left: 30px;
}
.basket-page .baskets .basket-right .basket-right-content .add-card .coffee-order .coffee-order-text .icons .icons-right svg {
  font-size: 25px;
}
.basket-page .baskets .basket-right .basket-right-content .add-card .coffee-order .coffee-order-text .icons .icons-right svg:last-child {
  margin-left: 10px;
}
@media (max-width: 575px) {
  .basket-page .baskets .basket-right {
    display: block;
  }
  .basket-page .baskets .basket-right .basket-right-content {
    width: 100%;
  }
}/*# sourceMappingURL=Basket.css.map */