.drinks {
  width: 70%;
  strong {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.385;
    padding-bottom: 40px;
  }
  .main {
    h2 {
        margin-top: 20px;
      font-size: 24px;  
      font-weight: 600;
      padding: 20px;
      padding-left: 0;
      border-bottom: 1px solid #0000001a;;
    }
    .menu-coffes {
      .cardss {
        img {
        }
        p {
        }
      }
    }
  }
}
