main {
  .product-banner {
    background-color: #1f3933;
    display: flex;
    align-items: center;

    padding: 20px 131px;
    img {
      width: 300px;
      border-radius: 100%;
      margin-right: 240px;
    }
    .product-name {
      width: 420px;
      color: white;
      text-align: left;
      h1 {
        font-size: 36px;
        line-height: 1.29;
        font-weight: 700;
        padding-bottom: 1.6rem;
      }
      p {
        font-size: 24px;
        opacity: 0.5;
      }
    }
    @media (max-width: 575px) {
      display: block;
      padding: 20px;
      width: 100%;
      img {
        width: 100%;
      }
      .product-name {
        width: 100%;
        text-align: center;
        h1 {
          font-size: 28px;
        }
        p {
          font-size: 19px;
        }
      }
    }
  }
  .product-customized {
    display: flex;
    padding: 40px 131px;
    h1 {
      padding: 0 8px 12px;
      font-weight: 600;
      font-size: 24px;
      line-height: 1.5;
      border-bottom: 4px solid #d4e9e2;
      width: 400px;
    }
    .product-left {
      margin-right: 100px;
      .sizes {
        display: flex;
        padding: 20px 0;
        .size {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-right: 20px;
          position: relative;
          img {
            text-align: center;
            padding: 8px 16px;
            z-index: 999;
          }
          .active {
            position: absolute;
            transition: all 300ms;
            padding: 24px;
            top: 2px;
            left: 0;
            border: 2px solid #1e3932;
            border-radius: 100%;
            background-color: #d4e9e2;
          }

          h5 {
            text-align: center;
            font-weight: 600;
            font-size: 16px;
            padding-bottom: 5px;
          }
          p {
            font-size: 14px;
            font-weight: 400;
          }
        }
      }
      .product-left-bottom {
        color: #00000094;
        font-size: 16px;
        font-weight: 400;
      }
    }
    .product-right {
      .customized {
        form {
          padding: 10px;
          fieldset {
            border: 1px solid #999999;
            border-radius: 10px;
            padding: 0 5px;
            margin-bottom: 20px;
            legend {
              color: #00000094;
            }
            &:focus {
              legend {
                color: #1f3933;
              }
            }
            select {
              border: none;
              width: 100%;
              padding: 5px;
              font-size: 16px;
              border-radius: 10px;
              color: black;
              &:focus {
                outline: none;
              }
            }
          }
        }
        .btn-customize {
          display: flex;
          align-items: center;
          background-color: #1e3932;
          color: white;
          padding: 18px 24px;
          border-radius: 50px;
          border: none;
          font-size: 19px;
          text-align: center;
          box-shadow: 0 0 5px gray;
          .btn-icon {
            color: #cba258;
            font-size: 24px;
            margin-right: 10px;
          }
        }
      }
      .btn-add {
        background-color: #00754a;
        color: white;
        padding: 18px 24px;
        border-radius: 50px;
        border: none;
        font-size: 19px;
        text-align: center;
        box-shadow: 0 0 5px gray;
        position: fixed;
        bottom: 150px;
        right: 40px;
      }
    }
    @media (max-width: 575px) {
      padding: 20px;
      flex-direction: column;
      h1 {
        width: 350px;
      }
      .res-h {
        font-size: 19px;
      }
      .product-left {
        .sizes {
          .size {
            h5 {
              padding: 0;
            }
          }
        }
        .product-left-bottom {
          padding: 20px 0;
        }
      }
      .product-right {
        .customized {
          .btn-customize {
            margin-left: 90px;
          }
        }
      }
    }
  }
  .product-summary{
    background-color: #1e3932;
    .summary-texts{
padding: 40px 131px;
      p{
        padding: 10px 0;
        font-size: 14px;
      &:nth-child(1){
        color: #cba258;
        border: 1px solid #cba258;
        padding: 4px 11px;
      
        width: 90px;
        border-radius: 8px;
      }
      &:nth-child(2){
        color: #ffffffb3;
        width: 400px;
        @media(max-width: 575px){
          width: 100%;
        }
      }
      &:nth-child(3){
        color: white;
        font-weight: 600;
      }

      }
      a{
        display: inline-block;
        padding: 7px 16px;
        color: white;
        border: 1px solid white;
        border-radius: 50px;
        margin-top: 10px;
        font-size: 16px;
        font-weight: 600;
      }
     
      @media(max-width: 575px){
        padding: 40px 10px;

      }
    }
    .btn-add{
      transition: all 2s ease;
      background-color: #00754a;
      color: white;
      padding: 18px 24px;
      border-radius: 50px;
      border: none;
      font-size: 19px;
      text-align: center;
      box-shadow: 0 0 5px gray;
      position: fixed;
      bottom: 150px;
      right: 40px;
    }

  }
}
