.menu-header {
  border-bottom: 1px solid #dbd9d7;
  nav {
    .banner {
      padding: 0 40px 0 100px;
      ul {
        display: flex;
        li {
          margin-right: 5px;
          padding: 16px 0px;
          a {
            color: black;
            font-size: 14px;
            padding-bottom: 4px;
          }
          .active {
            border-bottom: 1px solid #00754a;
          }
        }
      }
    }
  }
  @media(max-width: 575px){
    nav{
      .banner{
        padding: 0 ;
      }
    }
  }
}

.bannerHidden{
    display: none;
}
