.menu-header {
  border-bottom: 1px solid #dbd9d7;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 9999999;

  nav {
    .banner {
      padding: 10px 40px 10px 100px;
      ul {
        display: flex;
        li {
          margin-right: 5px;
          padding: 0 ;
          a {
            color: black;
            font-size: 14px;
            padding-bottom: 4px;
          }
          .active {
            border-bottom: 1px solid #00754a;
          }
        }
      }
    }
  }
  @media(max-width: 575px){
    position: static;
    nav{
      .banner{
        padding: 10px ;
      }
    }
  }
}

.bannerHidden{
    display: none;
}
