.section{
    .container{
        max-width: 1140px;
        margin: 0 auto;
      .boxes{
        padding: 0 40px;
        text-align: left;
        .box{
            width: 720px;
            h1{
font-size: 2.4em;
font-weight: 700;

            }
            .link-tvo{
                width: 171px;
                background-color: #00751A;
                color: white;
            }
            .link-three{
                width: 240px;
            }
            .link-four{
                background-color: #00751A;
                color: white;
            }
       .p2{
font-size: 13px;
       }
        }
    }  
    }
    
}